<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xlbc.app.mapper.ChinesepatentmedicineMapper">

    <resultMap type="com.xlbc.app.domain.Chinesepatentmedicine" id="ChinesepatentmedicineResult">
        <result property="id" column="id"/>
        <result property="drugName" column="drug_name"/>
        <result property="prescription" column="prescription"/>
        <result property="preparationMethod" column="preparation_method"/>
        <result property="attending" column="attending"/>
        <result property="characters" column="characters"/>
        <result property="usageAndDosage" column="usage_and_dosage"/>
        <result property="notes" column="notes"/>
        <result property="specification" column="specification"/>
        <result property="storeUp" column="store_up"/>
    </resultMap>


</mapper>
