<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xlbc.app.mapper.CommunityimageMapper">

    <resultMap type="com.xlbc.app.domain.Communityimage" id="CommunityimageResult">
        <result property="id" column="id"/>
        <result property="noteId" column="note_id"/>
        <result property="imageUrl" column="image_url"/>
    </resultMap>


</mapper>
