<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xlbc.app.mapper.MedicateddietMapper">

    <resultMap type="com.xlbc.app.domain.Medicateddiet" id="MedicateddietResult">
        <result property="id" column="id"/>
        <result property="medicatedDietName" column="medicated_diet_name"/>
        <result property="derivation" column="derivation"/>
        <result property="foodMaterial" column="food_material"/>
        <result property="preparationMethod" column="preparation_method"/>
        <result property="efficacy" column="efficacy"/>
    </resultMap>


</mapper>
