<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xlbc.app.mapper.PrescriptioncategoryintroduceMapper">

    <resultMap type="com.xlbc.app.domain.Prescriptioncategoryintroduce" id="PrescriptioncategoryintroduceResult">
        <result property="id" column="id"/>
        <result property="categoryId" column="category_id"/>
        <result property="paraphrase" column="paraphrase"/>
        <result property="indications" column="indications"/>
        <result property="notes" column="notes"/>
    </resultMap>


</mapper>
