<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xlbc.app.mapper.ProductbasicinfoMapper">

    <resultMap type="com.xlbc.app.domain.Productbasicinfo" id="ProductbasicinfoResult">
        <result property="id" column="id"/>
        <result property="productId" column="product_id"/>
        <result property="commonName" column="common_name"/>
        <result property="brand" column="brand"/>
        <result property="company" column="company"/>
        <result property="approvalNumber" column="approval_number"/>
        <result property="specification" column="specification"/>
        <result property="dosageForm" column="dosage_form"/>
        <result property="useMethod" column="use_method"/>
        <result property="useDose" column="use_dose"/>
        <result property="expirationDate" column="expiration_date"/>
        <result property="targetUser" column="target_user"/>
        <result property="instructionBook" column="instruction_book"/>
    </resultMap>


</mapper>
