<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xlbc.app.mapper.TyphoidtheoryprescriptionworkcitedMapper">

    <resultMap type="com.xlbc.app.domain.Typhoidtheoryprescriptionworkcited" id="TyphoidtheoryprescriptionworkcitedResult">
        <result property="id" column="id"/>
        <result property="content" column="content"/>
        <result property="provenance" column="provenance"/>
        <result property="type" column="type"/>
        <result property="preparationId" column="preparation_id"/>
    </resultMap>


</mapper>
