<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ketty.api_mapper.ChineseherbcategoryintroduceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ketty.api_entity.Chineseherbcategoryintroduce">
        <id column="id" property="id" />
        <result column="category_id" property="categoryId" />
        <result column="paraphrase" property="paraphrase" />
        <result column="classify" property="classify" />
        <result column="efficacy" property="efficacy" />
        <result column="matching_features" property="matchingFeatures" />
        <result column="medication_attention" property="medicationAttention" />
        <result column="modern_research" property="modernResearch" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, category_id, paraphrase, classify, efficacy, matching_features, medication_attention, modern_research
    </sql>

</mapper>
