<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ketty.api_mapper.ChineseherbimageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ketty.api_entity.Chineseherbimage">
        <id column="img_id" property="imgId" />
        <result column="img_url" property="imgUrl" />
        <result column="cb_id" property="cbId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        img_id, img_url, cb_id
    </sql>

</mapper>
